<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Schedule Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">

    <ion-row class="how-many">
      <ion-col>How many games?</ion-col>
    </ion-row>

    <ion-row class="games-amount ion-justify-content-center ion-align-items-center ion-text-center">
      <ion-col size="3" class="icons subtract ion-align-items-center" (click)="decrement()">
        <ion-label>
          <ion-icon name="remove"></ion-icon>
        </ion-label>
      </ion-col>
      <ion-col size="6">
        <span class="increment">{{numberOfGames}}</span>
      </ion-col>
      <ion-col size="3" class="icons add ion-align-items-center" (click)="increment()">
        <ion-label>
          <ion-icon name="add"></ion-icon>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="game-explanation">
      <ion-col>
        <p>
          Each game consists of 3 rounds and lasts about an hour. One game will
          cost {{settings[settingTypes.PRICE_PER_GAME] | currency:'USD':'symbol':'1.0'}}
          plus {{settings[settingTypes.PRICE_PER_USER] | currency:'USD':'symbol':'1.0'}}
          for every participant.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <form [formGroup]="form" novalidate class="primary-form">
    <ion-list lines="none">
      <ion-item class="form-group">
        <ion-label position="stacked">Date</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" formControlName="date" placeholder="Date" required></ion-datetime>
      </ion-item>
      <control-errors [control]="form.controls.date"></control-errors>

      <ion-item class="form-group">
        <ion-label position="stacked">Time</ion-label>
        <ion-datetime displayFormat="hh:mm A" formControlName="time" placeholder="Time" pickerFormat="hh:mm A" required>
        </ion-datetime>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button mode="ios" type="submit" expand="block" color="secondary"
        [disabled]="!form.valid || numberOfGames < 1 || isSubmitting" (click)="submit()">
        Next
        <ion-spinner *ngIf="isSubmitting" name="lines-small" color="light" class="ion-text-left"></ion-spinner>
      </ion-button>
    </div>
  </form>
</ion-content>