.how-many {
  margin-top: 30px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

.games-amount {
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.8) !important;
  height: 40px;
  width: 172px;

  .increment {
    font-size: 18px;
    font-weight: bold;
  }

  .icons {
    height: 38px;
    width: 38px;

    ion-icon {
      font-weight: bold;
      font-size: 30px;
    }
  }

  .add {
    background-color: var(--ion-color-secondary);
  }

  .subtract {
    background-color: #707473;
  }
}

.game-explanation {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 21px;
}

.number-of-games {
  color: white;

  input {
    background: none;
    height: 38px;
  }
}
