<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853687662364-gkk5sok99311eiadgulfr1jut130avc4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853687662364-gkk5sok99311eiadgulfr1jut130avc4</string>
	<key>API_KEY</key>
	<string>AIzaSyDzOoEqbggRuwSopL6QhkEvqXeJ7z6uT2A</string>
	<key>GCM_SENDER_ID</key>
	<string>853687662364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jackpotmusic.game</string>
	<key>PROJECT_ID</key>
	<string>jackpotmusicgame-50e39</string>
	<key>STORAGE_BUCKET</key>
	<string>jackpotmusicgame-50e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853687662364:ios:cb6532da97e14f7aa5acd9</string>
	<key>DATABASE_URL</key>
	<string>https://jackpotmusicgame-50e39.firebaseio.com</string>
</dict>
</plist>