<div class="game-countdown">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10" class="timer-title">
        Game Starts:
      </ion-col>
    </ion-row>

    <ion-row class="timer ion-justify-content-center">
      <ion-col class="time">
        {{days}}:{{hours}}:{{minutes}}:{{seconds}}
      </ion-col>
    </ion-row>

    <ion-row class="timer-legend ion-justify-content-center">
      <p>Days</p>
      <p>Hours</p>
      <p>Mins</p>
      <p>Secs</p>
    </ion-row>
  </ion-grid>
</div>
