.logo {
  text-align: center;
  margin-top: 28px !important;
  margin-bottom: 14px !important;

  img {
    content: url("/assets/images/jackpot-logo.png");
  }
}

.tagline {
  text-align: center;
  font-size: 16px;
  color: #ddd;
}
