h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 4px;
}

.current-payment-method {
  padding: 16px 24px;
  margin-bottom: 24px;
  background: rgba(#fff, 0.1);
  border-radius: 5px;

  .icon {
    font-size: 32px;
    margin-right: 12px;
    padding-bottom: 4px;
    vertical-align: middle;
    color: #ccc;
  }

  p {
    font-size: 16px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }

  i {
    color: #ccc;
  }
}

.form-control-error {
  padding: 12px 0 0 6px;
  font-size: 16px;
}

.list {
  margin: 12px 2px !important;
}

.change-credit-card {
  font-size: 18px;
  padding: 0 12px;
  text-align: right;
}
