<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Password Reset
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-header">
    <h2>Reset Your Password</h2>
    <p>Enter your email below and we'll send you instructions on how to reset your password.</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="forgotPassword(form)" novalidate class="primary-form">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" required placeholder="Enter your email"></ion-input>
      </ion-item>
      <control-errors [control]="form.controls.email"></control-errors>
    </ion-list>
    <div class="ion-padding">
      <ion-button mode="ios" expand="block" type="submit" [disabled]="!form.valid" color="secondary">Email Instructions</ion-button>
    </div>
  </form>
  <ion-row>
    <ion-col class="ion-padding ion-text-center">
      <ion-button expand="medium" fill="clear" color="primary" (click)="goToLogin()">Login Instead</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
