<ion-content class="prep-screen-content">
  <ion-grid class="ion-padding">
    <div class="logo">
      <img src="" alt="Jackpot Music Game Logo" />
    </div>

    <ion-row class="title ion-justify-content-center">
      <ion-col>
        Games Scheduled!
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="2">
        <div class="numbers one">
          <span class="inner-numbers">1</span>
        </div>
      </ion-col>
      <ion-col class="ion-margin-start">
        <p>Open the game page 15 minutes before the game starts.</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="2">
        <div class="numbers two">
          <span class="inner-numbers">2</span>
        </div>
      </ion-col>
      <ion-col class="ion-margin-start">
        <p>Test the sound system by using the sample files provided.</p>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="2">
        <div class="numbers three">
          <span class="inner-numbers">3</span>
        </div>
      </ion-col>
      <ion-col class="ion-margin-start">
        <p>When the game is open, the Jackpot Music Game theme song will play, signifying that the game is about to start.</p>
      </ion-col>
    </ion-row>

    <div class="ion-padding">
      <ion-button color="secondary" mode="ios" expand="block" (click)="finish()">Finish</ion-button>
    </div>
  </ion-grid>
</ion-content>
