@import "../../../../assets/style/selectors";

ion-item {
  ion-label {
    font-size: 16px;

    p {
      font-size: 16px;
    }
  }
}

.past-game {
  padding-top: 4px;
  padding-bottom: 4px;

  h2 {
    padding-top: 3px;
  }

  h2,
  p,
  .icon {
    opacity: 0.5 !important;
  }
}

.list-ios {
  margin-top: 1em;
}

.game-list {
  padding: 0 16px;
  margin-bottom: 1.1em;
}

.location-header {
  .logo {
    padding: 1.1em 0 0;

    @extend %horizontal-logo;
  }

  .location-info {
    text-align: center;
    padding-top: 1.1em;
    border-radius: 8px;
    margin: 2em 1em 6px;
    padding-bottom: 1.1em;
    border: solid 1px #333;

    h1 {
      font-size: 28px;
      font-weight: bold;
    }

    p {
      margin-top: 0;
      font-size: 18px;
      font-weight: normal;
      color: var(--ion-color-gray);
    }
  }
}
