<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form" novalidate *ngIf="authService.currentUser" class="primary-form">
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked">Your Old Password</ion-label>
        <ion-input formControlName="oldPassword" type="password" placeholder="Your old password" required></ion-input>
      </ion-item>
      <control-errors [control]="form.controls.oldPassword"></control-errors>

      <ion-item>
        <ion-label position="stacked">New Password</ion-label>
        <ion-input formControlName="newPassword" type="password" placeholder="Enter a new password" required>
        </ion-input>
      </ion-item>
      <control-errors [control]="form.controls.newPassword"></control-errors>

      <ion-item>
        <ion-label position="stacked">Confirm Password</ion-label>
        <ion-input formControlName="confirmPassword" type="password" required placeholder="Confirm password">
        </ion-input>
      </ion-item>
      <control-errors [control]="form.controls.confirmPassword"></control-errors>
      <div class="control-errors" *ngIf="matchError && submitAttempt">Passwords must match</div>

      <div class="ion-padding">
        <ion-button mode="ios" expand="block" color="secondary" (click)="submit()" [disabled]="!form.valid || isSubmitting">
          Save Changes
          <ion-spinner *ngIf="isSubmitting" name="ios-small" color="light" margin-left></ion-spinner>
        </ion-button>
      </div>

    </ion-list>
  </form>
</ion-content>
