<ion-header>
    <ion-toolbar mode="ios">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Legal</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="terms-and-conditions-content">
  <ion-grid class="terms-and-conditions">
    <ion-row class="title ion-justify-content-center ion-margin-top ion-margin-start">
      <ion-col>
        Terms & Conditions
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start ion-margin-bottom ion-margin-horizontal">
      <ion-col col-12>
        <h3>TERMS OF SERVICE FOR HOSTS </h3>
        <br>
        Please Read Carefully.
        <br>
        Updated: August 15, 2018
        <br>
        <br>
        This terms of service for restaurants, taverns, pubs, bars and other
        establishments wishing to host a game (the “Jackpot Music Game”)
        (“Host TOS”) is between you and the legal entity related to your
        establishment (collectively, “You”, “Your”, “you” and “your”) and
        Progressive Entertainment d/b/a Jackpot Music Game and its
        subsidiaries and affiliates (collectively,
        “Progressive Entertainment,” “we,” “our,” and “us”). This Host TOS
        governs your access to and/or use of the Progressive Entertainment
        web application, app.jackpot.game, any mobile versions and/or
        applications related thereto, products, services and any sites
        Progressive Entertainment has now or in the future (collectively,
        the “Services”), including without limitation as it relates to you
        promoting services and/or products by accessing and/or using our
        Services and/or interacting with customers and/or other users of the
        Services. You also agree to Progressive Entertainment’s Privacy
        Policy and consent to any personal information we may obtain about
        you being collected, stored and/or otherwise processed in accordance
        with the Privacy Policy and this Host TOS.
        <br>
        <br>
        By clicking on the “Accept” button on the screen as it relates to
        this Host TOS and/or by accessing and/or using the Services, you
        acknowledge and agree that you have read, understand and agree to be
        bound by all of the terms and conditions of this Host TOS, as well as
        all other applicable rules or policies, terms and conditions or
        agreements that are or may be established by Progressive
        Entertainment from time to time and the foregoing shall be
        incorporated herein by reference. The terms and conditions of this
        Host TOS will exclusively govern your access to and/or use of the
        Services. If you do not accept this Host TOS, now or in the future,
        please stop your use of the Services immediately, in which case any
        continuing access and/or use of the Services is unauthorized.
        <br>
        <br>
        ARBITRATION NOTICE: EXCEPT FOR CERTAIN TYPES OF DISPUTES DESCRIBED IN
        THE ARBITRATION CLAUSE BELOW, YOU AGREE THAT DISPUTES BETWEEN YOU AND
        PROGRESSIVE ENTERTAINMENT WILL BE RESOLVED BY MANDATORY BINDING
        ARBITRATION AND YOU WAIVE ANY RIGHT TO PARTICIPATE IN A CLASS-ACTION
        LAWSUIT AND/OR CLASS-WIDE ARBITRATION.
        <br>
        <br>
        <ol>
          <li>
            <b>CHANGES TO TERMS</b><br>
            Progressive Entertainment may, at any time, for any reason, make
            changes to the Services and/or modify this Host TOS in its sole and
            absolute discretion. If Progressive Entertainment makes changes
            and/or modifications that affect your use of and/or access to the
            Services, we will post notice of the change and/or modification on
            this Host TOS page and change the ‘Updated’ date set forth above.
            You agree that your continued use of the Services following changes
            and/or modifications will constitute your acceptance of such changes
            and/or modifications. We may also provide you additional forms of
            notice as appropriate under the circumstances. If you do not agree
            to the changes, you shall close your account and shall not use the
            Services offered after the effective date of the changes and/or
            modifications. Please revisit this Host TOS regularly to ensure that
            you stay informed of any changes and/or modifications.
            <br>
            <br>
          </li>
          <li>
            <b>OVERVIEW</b><br>
            Progressive Entertainment acts as a venue and marketing tool to allow
            various establishments to gain new patrons by offering a music game
            through the Service allowing patrons to win various prizes.
            <br>
            <br>
          </li>
          <li>
            <b>USE OF THE SERVICES</b><br>
            Access to Services. Progressive Entertainment retains the right, in
            our sole discretion, to deny service and/or access to and/or use of
            the Services to anyone at any time and for any reason. While we use
            reasonable efforts to keep the Services accessible, the Services
            and/or your account may be unavailable from time to time. You
            understand and agree that there may be interruptions to the Service
            and/or access to your account due to circumstances within Progressive
            Entertainment’s control (e.g., routine maintenance) and outside of
            Progressive Entertainment’s control. You acknowledge and agree that
            the use of the Services is at your own risk, including without
            limitation the risk that you might be exposed to content that is
            offensive, indecent, inaccurate and/or objectionable. The Services
            may be modified, updated, suspended and/or discontinued at any time
            as determined by Progressive Entertainment in its sole and absolute
            discretion and without notice and/or liability.
            <br>
            <br>
            <b>Creating an Account.</b> You may establish an account through the
            Services. Such account requires you to (i) indicate agreement to
            this Host TOS, (ii) provide contact information, and (iii) submit any
            other form of authentication required during the enrollment process,
            as determined by Progressive Entertainment in its sole and absolute
            discretion. If you establish an account with Progressive
            Entertainment, you agree to provide true, accurate and current
            information in connection with your store account. You are
            responsible for updating and correcting information you have
            submitted to create and/or maintain your account. You are solely
            responsible for maintaining the security and confidentiality of the
            password you use to access your account. You acknowledge and agree
            that Progressive Entertainment shall have no responsibility for any
            incident arising out of, or related to, your account settings.
            Progressive Entertainment will assume that anyone using the Services
            and/or transacting through your account is you. Therefore, you
            further agree to immediately notify Progressive Entertainment of any
            unauthorized use of your password and/or account and/or any other
            breach of security. You may only create and hold one (1) account and
            are prohibited from using other disguised identities when using the
            Service. We may refuse to grant you an account with a name that
            impersonates someone else, if it may be illegal, vulgar, offensive,
            and/or if it may be protected by trademark or other proprietary
            rights, as determined by Progressive Entertainment in its sole and
            absolute discretion. Your account is non-transferable and may not be
            sold, combined and/or otherwise shared with any other person. If you
            violate this Host TOS we may terminate your account immediately.
            Upon termination, the provisions of this Host TOS that are by their
            nature intended to survive termination (including without limitation
            any disclaimers, limitations of liability and indemnities) shall
            survive such termination.
            <br>
            <br>
            If we terminate your account, you may not subscribe under a new
            account unless we formally invite you. If you commit fraud and/or
            falsify information in connection with your use of the Services, your
            account will be terminated immediately and we reserve the right to
            hold you liable for any and all damages that we suffer, and we may
            pursue legal action through relevant local and national law
            enforcement authorities and may notify your ‘Internet Service
            Provider’ of any fraudulent activity we associate with you and/or
            your access to and/or use of the Services.
            <br>
            <br>
            <b>Communications from Progressive Entertainment.</b> By creating an
            account, you agree to receive certain communications in connection
            with the Services. When you access and/or use the Services, you are
            communicating with us and/or the customers electronically, and you
            consent to receive communications from us and/or the customers
            electronically. We will communicate with you by e-mail and/or by
            posting notices on the Service. You acknowledge and agree that all
            agreements, notices, disclosures and/or other communications that we
            provide to you electronically satisfy any legal requirement that such
            communications be in writing.
            <br>
            <br>
            <b>Your Conduct and Responsibilities.</b> Progressive Entertainment grants
            you the rights set forth herein, subject to the following conditions:
            <ol type="a">
              <li>
                You shall not modify, disassemble, reverse engineer or otherwise
                reduce to human-perceivable form all or any part of the Service;
              </li>
              <li>
                You agree not to submit or transmit any emails and/or materials
                through the Service that contain a virus, worm, Trojan horse and/or
                any other harmful component;
              </li>
              <li>
                You may not access all or any part of the Service in order to build a
                product or service which competes with the Service;
              </li>
              <li>
                You shall not copy or imitate part or all of the design, layout, or
                look-and-feel of the Service or individual sections of it, in any
                form or media;
              </li>
              <li>
                You are only authorized to view, use, copy for your records and
                download small portions of the content on the Services for your
                informational, non-commercial use; provided that you leave all
                copyright and other proprietary notices intact.
              </li>
              <li>
                You are responsible for the accuracy and quality of the data and
                content that you submit and will not violate the intellectual
                property rights of anyone;
              </li>
              <li>
                You agree to act in accordance with all applicable laws, rules and
                regulations;
              </li>
              <li>
                You shall not submit content that is offensive, including without
                limitation, bigotry, racism, discrimination, hatred, or profanity;
              </li>
              <li>
                You shall not imply that Host Content is in any way sponsored and/or
                endorsed by Progressive Entertainment;
              </li>
              <li>
                You agree not to intentionally hold Progressive Entertainment and/or
                their employees and/or directors up to public scorn, ridicule or
                defamation;
              </li>
              <li>
                You will not promote and/or provide information about illegal
                activities or physical harm or injury to any group, individual,
                institution and/or property;
              </li>
              <li>
                You will use commercially reasonable efforts to prevent unauthorized
                access to and/or use of the Services, and notify Progressive
                Entertainment promptly of any such unauthorized access and/or use;
                and/or
              </li>
              <li>
                You shall not use the Services for any unlawful purpose and/or to
                violate any federal, state, international law, code of conduct and/or
                other guidelines which may be applicable to the Services provided.
              </li>
            </ol>
            Progressive Entertainment shall not be subject to any obligations of
            confidentiality regarding any information and/or materials submitted
            through the Service except as otherwise specified in this Host TOS
            and/or the Privacy Policy and/or as set forth in any additional terms
            and conditions relating to specific products and/or services utilized
            by Progressive Entertainment in conjunction with the Services, and/or
            as otherwise required by law. The commercial use, reproduction,
            transmission or distribution of any information, software or other
            material available through the Services without the prior written
            consent of Progressive Entertainment is strictly prohibited.
            <br>
            <br>
          </li>
          <li>
            <b>HOST GUIDELINES</b><br>
            <b>General.</b> You are responsible for paying all fees associated with
            using Progressive Entertainment’s Service and all applicable taxes.
            Unless otherwise stated, all fees are quoted in United States Dollars
            (“USD”).
            <br>
            <br>
            <b>No Patron Fees.</b> Progressive Entertainment prohibits any act that is
            illegal under any applicable law, statute, ordinance or regulation
            including but not limited to gambling. You are strictly prohibited
            from charging a patron or player a fee and/or requiring a purchase of
            any kind to play the Jackpot Music Game. You further acknowledge and
            agree that you will not assess a cover charge while the Jackpot Music
            Game is conducted in your establishment.
            <br>
            <br>
            <b>Music Licensing.</b> You are solely responsible for paying the applicable
            performing rights organization, such as ‘Broadcast Music Inc.’,
            ‘American Society of Composer’, ‘Authors and Publishers’, ‘Society of
            European Stage Authors and Composers’ and ‘Global Music Rights’ for
            all music played during and used in connection with the Jackpot Music
            Game.
            <br>
            <br>
            <b>Prizes.</b> You shall be required to offer the winners of the Jackpot
            Music Game a form of a prize, such as a gift certificate, free
            entrée, drink or any other prize you wish to offer; provided that
            your prize is not illegal under any applicable law, statute,
            ordinance, or regulation.
            <br>
            <br>
          </li>
          <li>
            <b>PURCHASES AND FEES</b><br>
            <b>General.</b> Progress charges a one-time fee plus an additional fee for
            each player, for each one-hour Jackpot Music Game hosted by you,
            which shall be assessed at the end of each game or as otherwise
            determined by Progressive Entertainment in its sole and absolute
            discretion. You agree to pay all fees and charges, including
            applicable taxes, incurred through your account at the rates in
            effect for each Jackpot Music Game (such fees, charges and taxes are
            collectively referred to as “Fees”). Progressive Entertainment
            reserves the right to change the amount of, or basis for determining,
            any Fees, and to institute new Fees, effective upon prior notice to
            you. Progressive Entertainment may refuse to process, and/or may
            cancel a game request, as reasonably deemed necessary, to comply with
            applicable law and/or to respond to a case of misrepresentation,
            fraud and/or known and/or potential violations of the law and/or this
            Host TOS.
            <br>
            <br>
            <b>Payment Processing.</b> Progressive Entertainment uses a third party
            service provider, Stripe, Inc. (“Stripe”) and the Stripe ‘API’, to
            execute online payment transactions related to your account. By
            using Progressive Entertainment’s Services and agreeing to this Host
            TOS, you also agree to be bound by Stripe’s terms of service. Any
            authorization you provide to make automatic payments using the
            Service will remain in effect until cancelled. You are responsible
            for all transactions (one-time, recurring, and refunds) processed
            through the Service and/or Stripe.
            <br>
            <br>
            <b>No Refunds.</b> All fees are nonrefundable and are not subject to
            set-off unless otherwise agreed to by Progressive Entertainment in
            its sole and absolute discretion. You acknowledge and agree that we
            will charge your designated payment method for fees upon hosting a
            Jackpot Music Game. Therefore, and in consideration of the Services
            provided by Progressive Entertainment, you agree that once Stripe
            charges your designated payment method for the fees as provided in
            this Host TOS and on the Services, the charge is non-refundable,
            except as otherwise required by applicable law. To the extent
            permitted by applicable law, you agree not to ask your credit card
            company or bank to charge back any fees charged pursuant to this Host
            TOS.
            <br>
            <br>
          </li>
          <li>
            <b>ERRORS, INACCURACIES AND OMISSIONS</b>
            <br>
            Occasionally there may be information on the Services that contain
            typographical errors, inaccuracies, and/or omissions that may relate
            to descriptions, pricing, promotions, offers, and availability. We
            reserve the right to: (i) revoke any stated offer; (ii) correct any
            errors, inaccuracies, and/or omissions; and/or (iii) make changes to
            prices, content, promotion offers, descriptions, specifications,
            and/or other information without obligation to issue any notice of
            such changes.
            <br>
            <br>
          </li>
          <li>
            <b>PROPRIETARY RIGHTS AND LICENSES</b>
            <br>
            <b>Ownership.</b> The Services, Content on the Services and the
            infrastructure used to provide the Services are proprietary to
            Progressive Entertainment, our affiliates and other content
            providers. By using the Services and accepting this Host TOS: (a)
            Progressive Entertainment grants you a limited, personal,
            nontransferable, nonexclusive, revocable right to access and/or use
            the Services pursuant to this Host TOS and to any additional terms
            and policies set forth by Progressive Entertainment; and (b) you
            agree not to reproduce, distribute, create derivative works from,
            publicly display, publicly perform, license, sell and/or re-sell any
            content, software, products and/or services obtained from and/or
            through the Services without the express written permission of
            Progressive Entertainment.
            <br>
            <br>
            <b>Reservation of Rights.</b> The materials, headers, videos,
            illustrations, photographs, graphics, icons, trade dress and/or other
            content on the Service (“Content”), as well as the organization
            and/or layout of the Service, are copyrighted and are protected by
            United States and international copyright laws and treaty provisions
            and Progressive Entertainment retains all rights, title and interest
            related thereto or has the rights necessary use and/or display the
            foregoing. Progressive Entertainment owns, controls, lawfully uses
            and/or licenses the Content on the Service. Progressive
            Entertainment’s name and logo may not be copied, imitated and/or
            used, without Progressive Entertainment’s prior written permission.
            Subject to the limited rights expressly granted hereunder,
            Progressive Entertainment and/or its third party providers reserve
            all right, title and interest in and to the Services and Content,
            including without limitation all related worldwide intellectual
            property rights. No rights are granted to you hereunder other than
            as expressly set forth herein.
            <br>
            <br>
            <b>Host Content.</b> During the course of your access to and/or use of the
            Service, you may provide a description, photo(s), prices,
            advertisements, marketing information, variations available,
            specials, prizes and other content related thereto and/or business
            logos, taglines and/or other intellectual property uploaded or
            otherwise provided by you and used in connection with the Services
            (collectively, “Host Content”). You shall have exclusive title and
            ownership rights, including all intellectual property rights,
            throughout the world in all Host Content. You hereby grant
            Progressive Entertainment a worldwide, perpetual, non-exclusive,
            royalty-free, irrevocable, assignable, sub-licensable, transferable
            license to use the Host Content for any purpose. You further hereby
            irrevocably grant the users of the Services, the right to access
            and/or use Host Content in connection with their use of the Services
            in accordance with this Host TOS. You alone are responsible for Host
            Content, and once published, it cannot always be withdrawn. You
            assume all risks associated with Host Content, including anyone’s
            reliance on its quality, accuracy, and/or reliability by you. You
            also represent that you own, and/or have the necessary permissions to
            use and authorize use of Host Content as described in this Host TOS.
            As part of a transaction, you may obtain personal information from
            patrons. This personal information shall only be used for the
            transaction and/or for Progressive Entertainment-related
            communications, unless otherwise authorized by the patron in
            writing. Progressive Entertainment has not granted you a license to
            use the information for unsolicited commercial messages or
            unauthorized transactions. Notwithstanding anything herein to the
            contrary, Progressive Entertainment should not be seen as endorsing
            any Host Content in any way.
            <br>
            <br>
            <b>Feedback.</b> Please keep in mind that we do not seek any unsolicited
            ideas and/or materials for the Services. If you provide us (in a
            direct mail, email and/or otherwise) with any feedback, suggestions,
            improvements, enhancements, recommendations and/or feature requests
            relating to the Services (“Feedback”), then you further grant to
            Progressive Entertainment a worldwide, perpetual, irrevocable,
            royalty-free license to use and incorporate any such Feedback.
            Progressive Entertainment has no obligations to review any Feedback
            and may use and redistribute Feedback for any purpose without
            restriction in its sole and absolute discretion.
            <br>
            <br>
          </li>
          <li>
            <b>PROHIBITED USE</b>
            <br>
            Gathering email addresses from Progressive Entertainment through
            harvesting or automated means is prohibited. Posting or transmitting
            unauthorized or unsolicited advertising, promotional materials,
            and/or any other forms of solicitation to other users is prohibited.
            We also prohibit crawling, scraping, caching and/or otherwise
            accessing any content on the Services via automated means, including
            but not limited to user profiles and/or photos (except as may be the
            result of standard search engine protocols and/or technologies used
            with Progressive Entertainment’s express written consent). You may
            not use the Service in any manner that could damage, disable,
            overburden, and/or impair the Service and/or interfere with any other
            party's use and/or enjoyment of the Service. You may not obtain
            and/or attempt to obtain any materials and/or information through any
            means not intentionally made available and/or provided for through
            the Services. You may not interfere with the proper working of the
            Services, including without limitation by placing an unreasonable
            load on the Service’s infrastructure.
            <br>
            <br>
          </li>
          <li>
            <b>DISPUTES</b><br>
            You are solely responsible for interactions with other users of the
            Service. Progressive Entertainment has the right, but is not
            obligated, to do any or all of the following:
            <br>
            examine an allegation that a communication(s) does not conform to the
            terms of this section and determine in its sole discretion to remove
            or request the removal of the communication(s).
            <br>
            remove communications that are abusive, illegal, or disruptive, or
            that otherwise fail to conform with this Host TOS.
            <br>
            terminate a user’s access to any or all public areas and/or the
            Progressive Entertainment’s Services upon any breach of this Host TOS.
            <br>
            edit or delete any communication(s) posted on the Progressive
            Entertainment Services, regardless of whether such communication(s)
            violate the standards set forth herein.
            <br>
            <br>
            Progressive Entertainment reserves the right to take any action it
            deems necessary to protect the personal safety of our guests or the
            public. Progressive Entertainment has no liability or responsibility
            to users of the Services or any other person or entity for
            performance or nonperformance of the aforementioned activities.
            <br>
            <br>
          </li>
          <li>
            <b>TERMINATION</b>
            <br>
            You may terminate your account at any time by deleting your account.
            In such event, you are required to honor any pending transactions.
            Progressive Entertainment also reserves the right, in its sole and
            absolute discretion, to terminate your access to the Service or any
            portion thereof at any time, without cause and/or without notice.
            Without limiting any other remedies, Progressive Entertainment,
            without notice, may suspend or terminate your account if Progressive
            Entertainment suspects, in its sole discretion, that you (by
            information, investigation, conviction, settlement, insurance or
            otherwise) have violated any of Progressive Entertainment’s policies
            set forth in this Host TOS, the Privacy Policy, or any other policy
            documents or community guidelines, or you have engaged in an improper
            or fraudulent activity in connection with Progressive Entertainment.
            In the event you share the access granted with any person or entity,
            and/or misuse the Services by any means actionable under a federal,
            state, and/or local statute, code, regulation, law, and/or civil
            action, Progressive Entertainment will consider your access as having
            been acquired by fraud and/or misrepresentation and will terminate
            your access immediately.  In such event, Progressive Entertainment
            retains the right to seek civil and/or criminal redress, the entire
            cost of which shall be borne solely by you. If Progressive
            ntertainment terminates a listing or your account, if you close your
            account, or if the payment of your fees cannot be completed for any
            reason, you remain obligated to pay Progressive Entertainment for all
            unpaid fees plus any penalties, if applicable. If your account is not
            paid in full and becomes past due, we may suspend your account and/or
            terminate your account and, in such event, you shall be responsible
            for fees related to collection (including without limitation fees
            related to retaining collection agencies and legal counsel). If you
            have a question or wish to dispute a charge made by Progressive
            Entertainment, contact Progressive Entertainment support at
            support@jackpot.game.
            <br>
            <br>
          </li>
          <li>
            <b>INDEMNIFICATION AND WAIVER</b>
            <br>
            You shall indemnify, defend and hold harmless Progressive
            Entertainment, its officers, agents, employees, contractors,
            subcontractors, suppliers and representatives from and against any
            and all claims, demands, proceedings, losses, costs, damages, awards,
            fees, expenses, or liabilities of any nature (“Claim”) arising out of
            or in relation to (i) any merchandise sold by you through the
            Services, including but not limited to the payment of any taxes
            associated therewith; (ii) Host Content submitted and/or posted by
            you, in connection with the Services, and/or any use of the Services
            in violation of this Host TOS; (iii) your violation of any law and/or
            the rights of a third party (iv) your use of the Services and/or any
            breach of this Host TOS by you, your officers, agents, employees,
            contractors and/or (v) fraud you commit and/or your intentional
            misconduct and/or negligence. You shall give prompt notice to
            Progressive Entertainment upon your receipt of notice of any Claim
            against you that might give rise to a Claim against Progressive
            Entertainment.
            <br>
            <br>
            You are solely responsible for your interactions with users of the
            Service. To the extent permitted under applicable laws, you hereby
            release Progressive Entertainment from any and all claims and/or
            liability of any other third-party related to any product and/or
            service, any action or inaction by a user, including but not limited
            to any harm caused to you, a users failure to comply with applicable
            law and/or failure to abide by the terms of the merchandise offering
            and any conduct, speech and/or Host Content, whether online and/or
            offline.
            <br>
            <br>
          </li>
          <li>
            <b>DISCLAIMER OF WARRANTIES</b>
            <br>
            YOU EXPRESSLY UNDERSTAND AND AGREE THAT, TO THE MAXIMUM EXTENT
            PERMITTED BY APPLICABLE LAW:
            <br>
            <br>
            THE SERVICE, AND ANY CONTENT, ARE PROVIDED BY PROGRESSIVE
            ENTERTAINMENT TO YOU ON AN "AS IS," "AS AVAILABLE" BASIS, EXCEPT AS
            EXPRESSLY SET FORTH IN THIS HOST TOS. PROGRESSIVE ENTERTAINMENT DOES
            NOT MAKE ANY OTHER WARRANTY OF ANY KIND WHETHER EXPRESS, STATUTORY OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF
            TITLE, NON-INFRINGEMENT, QUIET ENJOYMENT, MERCHANTABILITY, AND/OR
            FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, AND FROM COURSE OF
            DEALING, USAGE AND/OR TRADE PRACTICE, ALL OF WHICH PROGRESSIVE
            ENTERTAINMENT EXPRESSLY DISCLAIMS. WITHOUT LIMITING THE FOREGOING,
            PROGRESSIVE ENTERTAINMENT AND/OR ITS LICENSORS MAKE NO WARRANTY THAT
            (A) THE SERVICES WILL MEET YOUR REQUIREMENTS AND/OR WILL BE
            CONSTANTLY AVAILABLE, UNINTERRUPTED, TIMELY, SECURE AND/OR
            ERROR-FREE; (B) THE RESULTS THAT MAY BE OBTAINED FROM THE ACCESS TO
            AND/OR USE OF THE SERVICES WILL BE EFFECTIVE, ACCURATE AND/OR
            RELIABLE; AND/OR (C) PROGRESSIVE ENTERTAINMENT WILL NOT BE LIABLE
            AND/OR OTHERWISE RESPONSIBLE FOR ANY FAILURE OR DELAY IN UPDATING THE
            SERVICES AND/OR ANY CONTENT. NO ADVICE AND/OR INFORMATION, WHETHER
            ORAL AND/OR WRITTEN, OBTAINED BY YOU FROM PROGRESSIVE ENTERTAINMENT
            OR THROUGH YOUR ACCESS TO AND/OR USE OF THE SERVICES SHALL CREATE ANY
            WARRANTY NOT EXPRESSLY STATED IN THIS SALON TOS.
            <br>
            <br>
          </li>
          <li>
            <b>LIMITATION OF LIABILITY</b>
            <br>
            YOUR USE OF THE SERVICE AND CONTENT IS AT YOUR OWN RISK. IN NO EVENT
            SHALL PROGRESSIVE ENTERTAINMENT, ITS OFFICERS, DIRECTORS, EMPLOYEES,
            PARTNERS, LICENSORS, AND/OR SUPPLIERS BE LIABLE TO YOU AND/OR ANYONE
            ELSE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, CONSEQUENTIAL AND/OR
            PUNITIVE DAMAGES WHATSOEVER, INCLUDING THOSE RESULTING FROM LOSS OF
            USE, DATA AND/OR PROFITS, WHETHER OR NOT FORESEEABLE, REGARDLESS OF
            THE FORM OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENE),
            WARRANTY, STRICT LIABILITY, AND/OR ANY OTHER LEGAL OR EQUITABLE
            THEORY, EVEN IF PROGRESSIVE ENTERTAINMENT HAS BEEN ADVISED OF THE
            POSSIBIITY OF SUCH DAMAGES IN ADVANCE. THE FOREGOING SHALL APPLY
            DESPITE ANY NEGLIGENCE, MISCONDUCT, ERRORS AND/OR OMISSIONS BY
            PROGRESSIVE ENTERTAINMENT, ITS EMPLOYEES, REPRESENTATIVES AND/OR
            AGENTS. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION AND/OR
            LIMITATION OF LIABILITY FOR CONSEQUENTIAL AND/OR INCIDENTAL DAMAGES,
            IN SUCH STATES, PROGRESSIVE ENTERTAINMENT’S LIABILITY IS LIMITED TO
            THE MAXIMUM EXTENT PERMITTED BY LAW.
            <br>
            <br>
            EXCEPT AS OTHERWISE EXPRESSLY SET FORTH HEREIN, IN THE EVENT YOU ARE
            DISSATISFIED WITH THE SERVICE, RELATED SERVICES AND/OR HAVE ANY OTHER
            GRIEVANCE, YOUR SOLE AND EXCLUSIVE REMEDY SHALL BE THE RIGHT TO
            DISCONTINUE ACCESS TO AND/OR USE OF THE SERVICES.
            <br>
            <br>
            PROGRESSIVE ENTERTAINMENT’S MAXIMUM AGGREGATE LIABILITY TO YOU FOR
            DIRECT DAMAGES THAT YOU SUFFER IN CONNECTION WITH THE SERVICES IS
            LIMITED TO (i) THE AMOUNT PAID, IF ANY, BY YOU TO PROGRESSIVE
            ENTERTAINMENT IN CONNECTION WITH THE SERVICES IN THE SIX (6) MONTH
            PERIOD PRIOR TO THE ACTION GIVING RISE TO THE LIABILITY, OR (ii) ONE
            HUNDRED DOLLARS (US$100.00), WHICHEVER IS LESS.
            <br>
            <br>
          </li>
          <li>
            <b>LINKS</b>
            <br>
            The Services may provide links to various other independent
            third-party websites (“Linked Sites”) that may be of interest to you
            and are for your convenience only. Progressive Entertainment does
            not control or endorse such Linked Sites and is not responsible for
            their content nor is it responsible for the accuracy or reliability
            of any information, data, opinions, advice and/or statements
            contained within such Linked Sites. You will need to make your own
            independent judgment regarding your interaction with these Linked
            Sites at your own risk. We encourage you to be aware when you leave
            the Services and to read the terms and conditions and privacy policy
            of each Linked Site that you visit. Progressive Entertainment
            reserves the right to terminate any link and/or linking program at
            any time in its sole and absolute discretion. We disclaim all
            warranties, express and implied, as to the accuracy, validity, and
            legality and/or otherwise of any materials and/or information
            contained on such Linked Sites.
            <br>
            <br>
            You may not link to the Services without our written permission. If
            you are interested in linking to the Services, please contact
            support@jackpot.game.
            <br>
            <br>
          </li>
          <li>
            <b>SEPARATE AGREEMENTS & CONFLICT</b>
            <br>
            You may have other agreements with Progressive Entertainment. Such
            agreements are separate and in addition to this Host TOS. This Host
            TOS does not modify, revise or amend the terms of any other
            agreements you may have with Progressive Entertainment unless
            expressly agreed to by the parties in writing. In the event of a
            conflict between this Host TOS and the ‘Terms of Service’ users agree
            to, this Host TOS shall control as it relates to the Services
            described herein including without limitation as it relates to you
            selling merchandise by accessing and/or using our Services and/or
            interacting with customers and/or other users of the Services.
            <br>
            <br>
          </li>
          <li>
            <b>NO PROFESSIONAL ADVICE</b>
            <br>
            The information available on the Services is intended to be a general
            information resource regarding the matters covered, and is not
            tailored to your specific circumstance. Progressive Entertainment
            does not, will not and cannot refer, recommend and/or endorse any
            specific professional service, product and/or procedures that are
            advertised on the Services. The Service is not a substitute for
            professional advice, and you should not construe this as legal,
            accounting, and/or other professional advice.
            <br>
            <br>
          </li>
          <li>
            <b>DMCA COPYRIGHT POLICY AND COPYRIGHT AGENT</b>
            <br>
            Progressive Entertainment respects the intellectual property rights
            of others and expects you to do the same. We reserve the right to
            block access to and/or remove material that we believe in good faith
            to be copyrighted material that has been illegally distributed by you
            and/or other third parties and remove and discontinue service to
            repeat offenders. We will respond to clear notices of copyright
            infringement when you provide the following:
            <br>
            (i) A physical or electronic signature of a person authorized to
            act on behalf of the owner of an exclusive right that is allegedly
            infringed.
            <br>
            (ii) Identification of the copyrighted work claimed to have been
            infringed.
            <br>
            (iii) Identification of the material that is claimed to be infringing
            or to be the subject of infringing activity and that is to be
            removed or access to which is to be disabled.
            <br>
            (iv) Information sufficient to permit Progressive Entertainment to
            contact you, such as your physical address, telephone number, and, if
            available, an electronic mail address;
            <br>
            (v) A statement that the complaining party has a good faith belief
            that use of the material in the manner complained of is not
            authorized by the copyright owner, its agent, or the law.
            <br>
            (vi) A statement that the information in the notification is
            accurate, and under penalty of perjury, that you are authorized to
            act on behalf of the owner of an exclusive right that is allegedly
            infringed.
            <br>
            <br>
            Contact information for Progressive Entertainment’s DMCA Agent for
            notice of claims of copyright infringement is: Progressive
            Entertainment, Inc. Attn: Copyright Agent, 30 N. Gould Street,
            Suite R, Sheridan, Wyoming 82801, support@jackpot.game.
            <br>
            <br>
            The Copyright Agent will not remove content from the Services in
            response to phone or email notifications regarding allegedly
            infringing content, since a valid DMCA notice must be signed, under
            penalty of perjury, by the copyright owner or by a person authorized
            to act on his or her behalf. Please submit such notifications by fax
            or ordinary mail only and as further described by this Article. The
            Copyright Agent should be contacted only if you believe that your
            work has been used or copied in a way that constitutes copyright
            infringement and that such infringement is occurring on the Service
            linked to and/or from the Service. All other inquiries directed to
            the Copyright Agent will not be responded to.
            <br>
            <br>
          </li>
          <li>
            <b>DISPUTE RESOLUTION </b>
            <br>
            <b>Disputes.</b> We want to address your concerns without filing a formal
            legal case. Before filing a claim against Progressive Entertainment,
            you agree to try to resolve the dispute informally by contacting us
            at support@jackpot.game. We will try to resolve the dispute by
            contacting you via email, but if we cannot resolve the dispute within
            thirty (30) days of submission, you and/or Progressive Entertainment
            agree to resolve any claims related to this Host TOS through final
            and binding arbitration, except as forth under ‘Exceptions to
            Agreement to Arbitrate’ section below and/or you opt out as described
            below.
            <br>
            <br>
            <b>Opt-Out.</b> You can opt-out and decline this agreement to arbitrate by
            contacting Progressive Entertainment within thirty (30) days from the
            date that you first became subject to this arbitration provision
            (i.e.: the date you initially accepted this Host TOS). You must
            write us at Progressive Entertainment, LLC, Attn: Opt-Out
            Arbitration, 30 N. Gould Street, Suite R, Sheridan, Wyoming 82801.
            If you opt out, neither you nor Progressive Entertainment can require
            the other to participate in an arbitration proceeding.
            <br>
            <br>
            <b>Arbitration Procedures.</b> Except in the event the claim meets the
            requirements set forth in the ‘Exceptions to Agreement to Arbitrate’
            section below and/or if you opt out of arbitration as described
            below, all claims shall be settled by binding arbitration in
            accordance with the commercial arbitration rules, in effect at the
            time the proceedings begin, of the American Arbitration Association.
            Any such controversy and/or claim shall be arbitrated on an
            individual basis, and shall not be consolidated in any arbitration
            with any claim or controversy of any other party. All information
            relating to and/or disclosed by any party in connection with the
            arbitration of any disputes shall be treated by the parties, their
            representatives, and the arbitrator as proprietary business
            information and shall not be disclosed without prior written
            authorization of the disclosing party. The arbitration shall be held
            in Sheridan, Wyoming USA or any other location we agree to. Each
            party shall bear the burden of its own counsel fees incurred in
            connection with any arbitration proceedings.
            <br>
            <br>
            <b>Exceptions to Agreement to Arbitrate.</b> Either you and/or Progressive
            Entertainment may assert claims, if they qualify, in small claims
            court in Sheridan, Wyoming. Progressive Entertainment may bring a
            lawsuit solely for injunctive relief to stop unauthorized use and/or
            abuse of the Services, breach of Progressive Entertainment’s
            confidential information and/or intellectual property infringement
            (for example, trademark, trade secret, copyright and/or patent
            rights) without first engaging in arbitration and/or the informal
            dispute-resolution process described herein.
            <br>
            <br>
            <b>Judicial forum for disputes.</b> In the event that the agreement to
            arbitrate is found not to apply to you and/or your claim, you and
            Progressive Entertainment agree that any judicial proceeding (other
            than small claims actions) will be brought in the federal or state
            courts of Sheridan, Wyoming. Both you and Progressive Entertainment
            consent to the foregoing venue and jurisdiction.
            <br>
            <br>
          </li>
          <li>
            <b>MISCELLANEOUS</b> If any provision and/or term of this Host TOS shall
            become or be declared illegal, invalid or unenforceable for any
            reason whatsoever, such term and/or provision shall be divisible from
            the other terms and conditions and shall be deemed to be deleted from
            them. This Host TOS shall be governed in all respects by the laws of
            the State of Wyoming, without reference to its choice of law rules.
            If an applicable law is in conflict with any part of this Host TOS,
            this Host TOS will be deemed modified to conform to the law and the
            other provisions will not be affected by any such modification. No
            waiver by either you and/or Progressive Entertainment of any breach
            and/or default and/or failure to exercise any right allowed under
            this Host TOS is a waiver of any preceding and/or subsequent breach
            and/or default and/or a waiver and/or forfeiture of any similar
            and/or future rights under this Host TOS.
            <br>
            <br>
          </li>
          <li>
            <b>CONTACT</b>
            <br>
            If you would like to request additional information regarding this
            Host TOS or for any questions regarding a commercial relationship
            with Progressive Entertainment, please contact us at
            support@jackpot.game.
            <br>
          </li>
        </ol>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
