<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="terms-and-conditions-content">
  <ion-grid class="how-to-play ion-padding">
    <ion-row class="title">
      <ion-col>
        How to Play
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-align-self-center ion-margin-vertical">
      <ion-col size="2">
        <div class="numbers one">
          <span class="inner-numbers">1</span>
        </div>
      </ion-col>
      <ion-col class="ion-margin-start">
        Listen and identify the song snippets being played.
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
      <ion-col size="2">
        <div class="numbers two">
          <span class="inner-numbers">2</span>
        </div>
      </ion-col>
      <ion-col class="ion-margin-start">
        Match the song you hear to the list displayed in the game. Be sure to tap it!
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center ion-justify-content-center ion-margin-bottom">
      <ion-col size="2">
        <div class="numbers three">
          <span class="inner-numbers">3</span>
        </div>
      </ion-col>
      <ion-col class="ion-margin-start">
        Be the first person to match all your songs to WIN!
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="terms-and-conditions ion-margin-top">
    <ion-row class="title ion-justify-content-center ion-margin-start ion-margin-top">
      <ion-col>
        Terms & Conditions
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start ion-margin-bottom ion-margin-horizontal">
      <ion-col size="12">
        <h3>TERMS OF USE</h3>
        <br>
        Please Read Carefully.
        <br>
        Last Updated: August 15, 2018
        <br>
        <br>
        The services that Progressive Entertainment LLC d/b/a Jackpot Music
        Game and its parents, subsidiaries, representatives, affiliates,
        officers and directors (collectively, hereinafter “Jackpot Music Game,”
        “we,” “our,” and “us”) provides to you are subject to the terms and
        conditions set forth herein (“Terms of Use”), which govern your access
        to and/or use of the website and/or use of any mobile versions and/or
        web applications (collectively, the “Game”), content, products,
        services and any sites Jackpot Music Game may have now and/or in the
        future (the “Site Services”). The Game and Site Services shall
        collectively be referred to herein as the “Services”.
        <br>
        <br>
        By signing up, installing and/or using the Services, you signify your
        agreement with this Terms of Use and are entering into a legally
        binding agreement with Jackpot Music Game. Certain of the Services may
        be subject to additional terms and conditions, guidelines, rules,
        regulations and/or requirements (including age requirements) (“Rules”)
        specified by us from time to time and your use of the Services is
        subject to those additional Rules, which are incorporated into this
        Terms of Use by reference. Please read this Terms of Use carefully. If
        you do not accept this Terms of Use, now or in the future, please stop
        your use of the Services immediately, in which case any continuing
        access and/or use of the Services is unauthorized. This Terms of Use
        expressly supersedes prior agreements and/or arrangements with you.
        <br>
        <br>
        ARBITRATION NOTICE: EXCEPT FOR CERTAIN TYPES OF DISPUTES DESCRIBED IN
        THE ARBITRATION CLAUSE BELOW, YOU AGREE THAT DISPUTES BETWEEN YOU AND
        JACKPOT MUSIC GAME WILL BE RESOLVED BY MANDATORY BINDING ARBITRATION
        AND YOU WAIVE ANY RIGHT TO PARTICIPATE IN A CLASS-ACTION LAWSUIT AND/OR
        CLASS-WIDE ARBITRATION.
        <br>
        <br>
        <b>PRIVACY POLICY</b>
        <br>
        You also agree to Jackpot Music Game’s privacy policy located at
        jackpot.game (“Privacy Policy”) and consent to any personal information
        we may obtain about you being collected, stored, and/or otherwise
        processed in accordance with the Privacy Policy and this Terms of Use.
        <br>
        <br>
        <b>CHANGES TO TERMS</b>
        <br>
        Subject to the conditions set forth herein, Jackpot Music Game may, at
        any time, for any reason, in its sole discretion make changes to the
        Services and/or modify this Terms of Use. If Jackpot Music Game makes
        changes and/or modifications that affect your access to and/or use of
        the Services, Jackpot Music Game will provide a notice of such changes
        only by posting the updated Terms of Use on the page and changing the
        “last updated” date listed above. We may also provide you with
        additional forms of notice of modifications and/or updates as
        appropriate under circumstances. If you do not agree with the changes
        and/or modifications, you shall not use the Services after the
        effective date of the changes. Please revisit this Terms of Use
        regularly to ensure that you stay informed of any changes
        <br>
        <br>
        <b>OFFICIAL RULES</b>
        <br>
        NO PURCHASE OR PAYMENT NECESSARY TO PLAY OR WIN. THE GAME IS VOID WHERE
        PROHIBITED OR RESTRICTED BY LAW OR WHERE, BONDING, REGISTRATION OR
        OTHER REQUIREMENTS WOULD BE REQUIRED BUT HAVE NOT BEEN MET, OR WHERE
        THE METHODS OF ENTRY SET FORTH HEREIN WOULD BE DEEMED CONSIDERATION.
        ALL APPLICABLE FEDERAL, STATE AND LOCAL LAWS APPLY.
        <br>
        <br>
        <b>Eligibility.</b> To access and/or use the Services, you must be at least
        eighteen (18) years or older and have the requisite power and authority
        to enter into this Terms of Use and meet any other applicable age and
        residency requirements. The Services are not intended for and should
        not be used by anyone under the age of thirteen (13). Otherwise, you
        represent that you are over the age of eighteen (18) and are the
        intended recipient of the Services. You may not access and/or use the
        Services for any purpose if either of the representations in the
        preceding sentence are not true.
        <br>
        <br>
        <b>How to Enter a Game.</b> Games will be announced by business establishments
        (the “Business”) from time to time. While at the Business, enter the
        Game by completing each of the following steps: 1) enter the Game
        through the Service on your mobile device at jackpot.game; 2) click
        “enter game” and Jackpot Music Game will automatically match you with
        other players at your Business’ location; 3) play at least one live
        Game to completion. Business reserves the right to cancel Games, in its
        sole discretion, without any restrictions and/or liability and Jackpot
        Music Game and the Business shall not be liable in the event of any
        cancellations. The Game will be conducted under the supervision of the
        Business. We are not liable for the acts and/or omissions of the
        Business or its employees, independent contractors and/or other patrons.
        <br>
        <br>
        <b>Winning Player.</b> The winner of the Game will have matched all songs
        correctly to win and will be required to show the Business its mobile
        device with the winning notification.
        <br>
        <br>
        <b>Prizes from Business.</b> The winner of each live Game will receive a prize
        (“Prize”), as determined in the Business’ sole and absolute discretion.
        You must comply with this Terms of Use and any related Rules to win a
        Prize. In the event you do not comply with this Terms of Use and/or any
        related Rules, you will be disqualified from the Game. If there are
        multiple winners at the end of each Game, the players will each receive
        a Prize or otherwise split the Prize evenly, as determined by the
        Business in its sole and absolute discretion.
        <br>
        <br>
        <b>Progressive Jackpot.</b> The Game consists of three rounds, and the player
        will have an opportunity to win a progressive jackpot from Jackpot
        Music Game (“Progressive Jackpot”) during the third round. The winner
        of a Progressive Jackpot will receive a notification at the time of the
        win and will be required to submit a name, phone number and email
        address. The winner will be notified by Jackpot Music Game by phone or
        email; provided, however, that Jackpot Music Game reserves the right to
        determine an alternate method of notification if it desires in its sole
        and absolute discretion. The winner must cash out the Progressive
        Jackpot within 90 days after the winning date. A player’s failure to
        cash-out the Progressive Jackpot within the foregoing timeframe will be
        considered the winner’s forfeiture of the Progressive Jackpot and
        Jackpot Music Game may, at its option and in its sole and absolute
        discretion, choose not to award the Progressive Jackpot at all. In
        addition, if a player is found to be ineligible, Jackpot Music Game may
        in it sole and absolute discretion, choose not to award the Progressive
        Jackpot. In the case of multiple winners, on the same game day, defined
        as beginning at 7am US Central Time, such players will split the
        Progressive Jackpot evenly. Jackpot Music Game will issue the
        Progressive Jackpot and any accompanying tax forms to the winning
        player. Jackpot Music Game will contact and verify all winning players.
        Failure to provide valid, working contact information may result in
        termination and/or forfeiture of the Progressive Jackpot. Jackpot Music
        Group expressly reserves the right to disqualify any players that it
        believes in good faith are generated by an automated means or scripts
        and/or that violate this Terms of Use and/or the Rules. Subject to the
        terms and conditions set forth herein, decisions of Jackpot Music Game
        are final and binding with respect to all matters related to the Game.
        Jackpot Music Game does not guarantee that the Progressive Jackpot can
        be made available to the winner. The Progressive Jackpot is not
        assignable and not transferable and no substitutions are permitted. In
        addition, if the Progressive Jackpot is unable to be fulfilled to the
        winning player due to any applicable law, rule or regulation, or if the
        winner cannot claim the Progressive Jackpot for any reason, then
        Jackpot Music Game, as applicable, reserves the right to not award the
        Progressive Jackpot. The winner shall be responsible and liable for all
        federal, state and local taxes on the value of the Progressive Jackpot.
        Winners shall provide Jackpot Music Game with accurate information
        regarding their identity and country of residence. To receive a
        complete list of winners or a copy of the Terms of Use and/or related
        Rules, please send a self-addressed stamped envelope to Jackpot Music
        Game, 30 N. Gould Street, Suite R, Sheridan, Wyoming 82801.
        <br>
        <br>
        <b>Notice to all players.</b> By entering the Game, you agree to conform to
        all federal, state and local laws and regulations. When applicable, the
        winner may be required to execute and return (and winning may be
        conditioned upon the winner executing and returning) to Jackpot Music
        Game, an affidavit of eligibility and a publicity release to be
        eligible to receive the Progressive Jackpot. The winner may also be
        required to complete relevant tax forms as a condition to the delivery
        of the applicable Progressive Jackpot and furnish proof of identity,
        address and date of birth in order to receive the Progressive Jackpot.
        Unless permitted by applicable law, your acceptance of the Progressive
        Jackpot constitutes your irrevocable, perpetual and unrestricted right
        and permission to take, use, re-use, publish, and republish, your name,
        submission, photograph, likeness, voice, address (city and state) and
        testimonials and other reproductions of your physical likeness made
        through any medium, specifically including but not limited to print
        media and distribution over the internet for illustration, promotion,
        art, editorial, advertising, trade, or any other purpose whatsoever and
        in any and all media now or hereafter known, in any manner Jackpot
        Music Game deems appropriate for publicity purposes without any
        compensation to you or any review or approval rights, notifications or
        permissions; and constitutes your consent to disclose your personally
        identifiable information to third parties (including without
        limitation, placing the your name on a winner’s list). You specifically
        consent to the digital compositing or distortion of the portraits or
        pictures, including without restriction any changes or alterations as
        to color, size, shape, perspective, context, foreground or background
        and further consent to the use of any published matter in conjunction
        with such photographs and/or videos. You acknowledge and agree that
        there is no time limit on the validity of
        this release nor is there any geographic limitation on where your image
        and/or likeness may be distributed. You agree to waive any right that
        you may have to inspect or approve the finished product or products and
        the advertising copy or other matter that may be used in connection
        with them or the use to which they may be applied.
        <br>
        <br>
        <b>Game Restrictions.</b> Jackpot Music Game may, in its sole discretion,
        disqualify you from a Game, refuse to award Prizes or Progressive
        Jackpot, as the case may be and require the return of any Prizes or
        Progressive Jackpot, or suspend, or limit your participation if you
        engage in conduct Jackpot Music Game deems to be improper, unfair,
        fraudulent or otherwise adverse to the operation of Games or in any
        way detrimental to other players in accordance with the ‘Rules of
        Conduct’ set forth below.
        <br>
        <br>
        <b>Rules of Conduct.</b> Jackpot Music Game grants you the rights set forth
        herein, subject to the following conditions: You may not
        <ul>
          <li>
            use the Services in any illegal manner or for any illegal purpose, in
            any other manner that could damage, disable, overburden and/or impair
            the Services;
          </li>
          <li>
            defeat, evade and/or interfere with any security feature of the
            Services, nor attempt to do so;
          </li>
          <li>
            cheat, use any deceptive methods and/or otherwise evade and/or violate
            the rules or intended operation of any software, hardware, Service
            and/or game, nor attempt to do so;
          </li>
          <li>
            alter and/or modify any content and/or component of the Services, other
            than information and/or content you have submitted and/or posted
            through the Services;
          </li>
          <li>
            modify, disassemble, create derivative works, publicly display, reverse
            engineer and/or otherwise reduce to human-perceivable form all or any
            part of the Services;
          </li>
          <li>
            use the Services for any purpose that is prohibited by this Terms of
            Use and are responsible for all of your activity in connection with the
            Services;
          </li>
          <li>
            take any action or otherwise upload, download, post, submit and/or
            otherwise distribute and/or facilitate distribution of any content on
            or through the Service;
          </li>
          <li>
            play the game on more than one device at a time, or in more than one
            browser instance on a single device;
          </li>
          <li>
            collect and/or harvest any personally identifiable information,
            including without limitation account names and/or e-mail addresses,
            from or through the Services, nor use the communication systems
            included in the Services for purposes of sending any commercial
            solicitation;
          </li>
          <li>
            submit and/or transmit any emails, or other materials through the
            Services that contain a virus, worm, ‘Trojan’ horse and/or any other
            harmful component designed to interrupt, destroy and/or limit the
            functionality of any computer software and/or hardware and/or
            telecommunications equipment, and/or that is designed to obtain
            unauthorized access to any information;
          </li>
          <li>
            use algorithms, and/or any other automated technological means to
            interpret, analyze, research and/or gain information about a song
            and/or question or submit an answer to a question;
          </li>
          <li>
            enter into any Game in which you are not eligible, whether by providing
            misleading information, altering your identification and/or other means;
          </li>
          <li>
            gather email addresses from Jackpot Music Game through harvesting
            and/or otherwise post, and/or transmit unauthorized and/or unsolicited
            advertising, promotional materials, and/or any other forms of
            solicitation;
          </li>
          <li>
            copy and/or imitate part or all of the design, layout, and/or
            look-and-feel of the Services and/or individual sections of it, in any
            form or media;
          </li>
          <li>
            promote and/or provide information about illegal activities and/or
            physical harm and/or injury to any group, individual, institution
            and/or property;
          </li>
          <li>
            submit information that violates, plagiarizes and/or infringes the
            rights of third parties including, without limitation, copyright
            rights, trademarks, rights of privacy or publicity and/or any other
            proprietary right; and/or that is designed to obtain unauthorized
            access to any information;
          </li>
          <li>
            use the Services in conjunction with any lottery, gambling or similar
            activity, or sponsor, encourage, organize or knowingly participate in
            any activity which constitutes a lottery, gambling or similar activity
            in connection with the Services; and/or
          </li>
          <li>
            use the Services for any unlawful purpose and/or to violate any
            federal, state, international law, code of conduct and/or other
            guidelines which may be applicable to the Services provided.
          </li>
        </ul>
        <br>
        <br>
        <b>Use of Services and Availability.</b> Jackpot Music Game retains the right,
        in our sole and absolute discretion, to deny service and/or access to
        and/or use of the Services to anyone at any time and for any reason
        without liability. While we use reasonable efforts to keep the Services
        accessible, the Services may be unavailable from time to time. You
        understand and agree that there may be interruptions to the Services
        and/or access to your account due to circumstances both within our
        control (e.g., routine maintenance) and outside of Jackpot Music Game’s
        control. The Services may be modified, updated, suspended and/or
        discontinued at any time without notice and/or liability.
        <br>
        <br>
        <b>Communications from Jackpot Music Game.</b> By using the Services, you
        agree to receive certain communications in connection with the
        Services. When you access and/or use the Services, you are
        communicating with us electronically, and you consent to receive
        communications from us electronically including but not limited to
        contacting you via email. You agree that all agreements, notices,
        disclosures and/or other communications that we provide to you
        electronically satisfy any legal requirement that such communications
        be in writing. Your consent to receive records and notices
        electronically will remain in effect until you withdraw it.
        You may withdraw your consent to receive further records and
        notices electronically at any time by contacting us. If you withdraw
        your consent to receive such records and notices electronically, we
        will revoke your access to the Services. Any withdrawal of your consent
        to receive records and notices electronically will be effective only
        after we have a reasonable period of time to process your request for
        withdrawal.
        <br>
        <br>
        <b>USE OUTSIDE DEFINED AREA </b>
        Please be aware that our Services are subject to United States laws,
        including laws governing privacy and security of your information.
        Those who choose to access the Services from other locations do so at
        their own risk and are responsible for compliance with applicable local
        laws. This Terms of Use is written in English. To the extent any
        translated version of this Terms of Use conflicts with the English
        version, the English version controls.  In the event you are using the
        Services outside of the United States, you agree as follows: (i) you
        consent to having your personal data transferred to and processed in
        the United States; (ii) if you are located in a country embargoed by
        the United States, or are on the U.S. Treasury Department's list of
        ‘Specially Designated Nationals’ you will not engage in commercial
        activities on Jackpot Music Game (such as advertising or payments);
        and/or (iii) you will not use Jackpot Music Game if you are prohibited
        from receiving products, services or software originating from the
        United States.
        <br>
        <br>
        <b>ERRORS, INACCURACIES, OMISSIONS AND PERFORMANCE</b>
        Occasionally there may be information on the Services that contain
        typographical errors, inaccuracies, and/or omissions that may relate to
        services, contact information, address, and events. We reserve the
        right to: (i) correct any errors, inaccuracies, and/or omission; and/or
        (ii) make changes to content, events, descriptions, service and/or
        ther information without obligation to issue any notice of such
        changes, except as prohibited by law. We also reserve the right to
        revise, suspend and/or terminate a Game and/or promotion at any time
        without notice and without liability.
        <br>
        <br>
        <b>PROPRIETARY RIGHTS AND LICENSES</b>
        <br>
        <b>Ownership:</b> The Services, any content and/or products on the Services
        and the infrastructure used to provide the Services are proprietary to
        Jackpot Music Game, our affiliates, and other content providers. By
        using the Services and accepting this Terms of Use, Jackpot Music Game
        grants you a limited, personal, nontransferable, nonexclusive,
        revocable right to access and/or use the Services pursuant to this
        Terms of Use and to any additional terms and policies set forth by
        Jackpot Music Game. Neither this Terms of Use nor your use of the
        Services convey and/or grant to you any rights: (i) in or related to
        the Services except for the limited license granted above; and (ii) to
        use or reference in any manner Jackpot Music Game’s names, logos,
        product and service names, trademarks or services marks or those of
        Jackpot Music Game’s licensors.
        <br>
        <br>
        <b>Reservation of Rights.</b> The materials, headers, videos, illustrations,
        photographs, graphics and content on the Services, as well as the
        organization and layout of the Services, are copyrighted and are
        protected by United States and international copyright laws and treaty
        provisions. Subject to the limited rights expressly granted hereunder,
        Jackpot Music Game and/or its third party providers reserve all right,
        title and interest in and to the services and content, including all
        related worldwide intellectual property rights. No rights are granted
        to you hereunder other than as expressly set forth herein.
        <br>
        <br>
        <b>Feedback.</b> If you provide us (in a direct mail, email and/or otherwise)
        with any feedback, suggestions, improvements, enhancements,
        recommendations and/or feature requests relating to the Services
        (“Feedback”), then you grant to Jackpot Music Game a worldwide,
        perpetual, irrevocable, royalty-free license to use and incorporate any
        such Feedback. Jackpot Music Game has no obligation to review any
        Feedback and may use and redistribute Feedback for any purpose without
        restriction in its sole and absolute discretion.
        <br>
        <br>
        <b>TERMINATION</b>
        <br>
        If you violate this Terms of Use and/or if we have grounds to suspect
        that you violated this Terms of Use and/or other use parameters
        included on the Services, we may refuse use of the Services (or any
        portion thereof). Jackpot Music Game also reserves the right, in its
        sole discretion, to terminate your access to the Services or any
        portion thereof at any time, without cause and/or without notice and
        without liability. In the event you fail to pay for the access granted
        (if applicable), and/or share the access granted with any person and/or
        entity, and/or misuse the system by any means actionable under a
        federal, state, and/or local statute, code, regulation, law, and/or
        civil action, Jackpot Music Game will consider your access as having
        been acquired by fraud and/or misrepresentation and will terminate your
        access.  In such a case, Jackpot Music Game retains the right to seek
        civil and/or criminal redress, the entire cost of which shall be borne
        solely by you.
        <br>
        <br>
        <b>INDEMNIFICATION AND WAIVER</b>
        <br>
        You shall indemnify, defend and hold harmless Jackpot Music Game, its
        officers, agents, employees, contractors, subcontractors, suppliers and
        representatives from and against any and all claims, demands,
        proceedings, losses, costs, damages, awards, fees, expenses, or
        liabilities of any nature (“Claim”) arising out of and/or in the
        relation to (i) your acceptance, possession and/or use of any Prize
        and/or Progressive Jackpot, as applicable or your participation in the
        Game, (ii) use of Jackpot Music Game’s Services; (iii) any breach of
        this Terms of Use by you, your officers, agents, employees, contractors
        and/or representatives and/or (iv) fraud you commit and/or your
        intentional misconduct and/or negligence. You shall give prompt notice
        to Jackpot Music Game upon your receipt of notice of any Claim against
        you which might give rise to a claim against Jackpot Music Game. Any
        person attempting to defraud or in any way tamper with the Game may be
        prosecuted to the fullest extent of the law.
        Participating in any Game is at your own risk. We shall not be liable
        for (1) failed returned or misdirected notifications based on
        inaccurate information provided by a winner in connection with a Game,
        Prize and/or Progressive Jackpot; (2) responses to a winner which are
        lost, late, incomplete, illegible, misdirected, damaged and/or
        otherwise not received by the intended recipient in whole or in part or
        for computer and/or technical error or any kind; (3) any electronic
        miscommunications of failures, technical hardware and/or software
        failures of any kind; (4) any technical malfunctions of a telephone
        network, computer online system, equipment program and/or other
        failures and/or any combination thereof, including any damage to a
        player’s computer and/or mobile device related to and/or resulting from
        the Services in connection with the Game, Prize and/or Progressive
        Jackpot or (5) any warranty with respect to any Prize and/or
        Progressive Jackpot or any component thereof.
        <br>
        <b>DISCLAIMER OF WARRANTIES</b>
        <br>
        YOU EXPRESSLY UNDERSTAND AND AGREE THAT, TO THE MAXIMUM EXTENT
        PERMITTED BY APPLICABLE LAW:
        <br>
        <br>
        THE SERVICES AND ANY CONTENT, ARE PROVIDED BY JACKPOT MUSIC GAME TO YOU
        ON AN "AS IS," "AS AVAILABLE" BASIS WITHOUT WARRANTY OF ANY KIND
        WHETHER EXPRESS, STATUTORY AND/OR IMPLIED, INCLUDING BUT NOT LIMITED TO
        ANY IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, QUIET ENJOYMENT,
        MERCHANTABILITY, AND/OR FITNESS FOR A PARTICULAR PURPOSE, SYSTEMS
        INTEGRATION, ACCURACY, AND FROM COURSE OF DEALING, USAGE AND/OR TRADE
        PRACTICE, ALL OF WHICH JACKPOT MUSIC GAME EXPRESSLY DISCLAIMS. WITHOUT
        LIMITING THE FOREGOING, JACKPOT MUSIC GAME AND/OR ITS LICENSORS MAKE NO
        WARRANTY THAT (A) THE SERVICES AND/OR CONTENT WILL MEET YOUR
        REQUIREMENTS AND/OR WILL BE CONSTANTLY AVAILABLE, UNINTERRUPTED,
        TIMELY, SECURE OR ERROR-FREE; (B) THE RESULTS THAT MAY BE OBTAINED FROM
        THE USE OF THE SERVICES, AND/OR CONTENT WILL BE EFFECTIVE, ACCURATE
        AND/OR RELIABLE; AND/OR (C) JACKPOT MUSIC GAME WILL NOT BE LIABLE
        AND/OR OTHERWISE RESPONSIBLE FOR ANY FAILURE AND/OR DELAY IN UPDATING
        THE SERVICES AND/OR ANY CONTENT. NO ADVICE AND/OR INFORMATION, WHETHER
        ORAL OR WRITTEN, OBTAINED BY YOU FROM JACKPOT MUSIC GAME AND/OR
        THROUGH AND/OR FROM USE OF THE SERVICES SHALL CREATE ANY WARRANTY NOT
        EXPRESSLY STATED IN THIS TERMS OF USE.
        <br>
        <br>
        <b>LIMITATION OF LIABILITY</b>
        <br>
        YOUR USE OF THE SERVICES AND CONTENT IS AT YOUR OWN RISK. IN NO EVENT
        SHALL JACKPOT MUSIC GAME, ITS OFFICERS, DIRECTORS, EMPLOYEES, PARTNERS,
        LICENSORS, AND/OR SUPPLIERS BE LIABLE TO YOU AND/OR ANYONE ELSE FOR ANY
        SPECIAL, INCIDENTAL, INDIRECT, CONSEQUENTIAL AND/OR PUNITIVE DAMAGES
        WHATSOEVER, INCLUDING THOSE RESULTING FROM LOSS OF USE, DATA AND/OR
        PROFITS, WHETHER OR NOT FORESEEABLE, REGARDLESS OF THE FORM OF ACTION,
        WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE), WARRANTY, STRICT
        LIABILITY, AND/OR ANY OTHER LEGAL OR EQUITABLE THEORY, EVEN IF JACKPOT
        MUSIC GAME HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES IN
        ADVANCE. THE FOREGOING SHALL APPLY DESPITE ANY NEGLIGENCE, MISCONDUCT,
        ERRORS AND/OR OMISSIONS BY JACKPOT MUSIC GAME ITS EMPLOYEES,
        REPRESENTATIVES AND/OR AGENTS. BECAUSE SOME STATES DO NOT ALLOW THE
        EXCLUSION AND/OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR
        INCIDENTAL DAMAGES, IN SUCH STATES, JACKPOT MUSIC GAME’S LIABILITY IS
        LIMITED TO THE MAXIMUM EXTENT PERMITTED BY LAW.
        <br>
        <br>
        JACKPOT MUSIC GAME’S MAXIMUM AGGREGATE LIABILITY, AND THE AGGREGATE
        LIABILITY OF ITS PARTNERS AND LICENSORS, TO YOU IN ANY CIRCUMSTANCE
        ARISING OUT OF AND/OR RELATING TO THE SERVICES IS LIMITED TO ONE
        HUNDRED DOLLARS (US$100.00).
        <br>
        <br>
        <b>LINKED SITES</b>
        <br>
        The Services may provide links to various other independent third-party
        websites (“Linked Sites”) that may be of interest to you and for your
        convenience only. Jackpot Music Game does not control and/or endorse
        such Linked Sites and is not responsible for their content nor is it
        responsible for the accuracy and/or reliability of any information,
        data, opinions, advice or statements contained within such Linked
        Sites. You will need to make your own independent judgment regarding
        your interaction with these Linked Sites at your own risk. We encourage
        you to be aware when you leave the Services and to read the terms and
        conditions and privacy policy of each Linked Site that you visit.
        Jackpot Music Game reserves the right to terminate any link and/or
        linking program at any time. Jackpot Music Game disclaims all
        warranties, express and implied, as to the accuracy, validity, and
        legality and/or otherwise of any materials or information contained on
        such Linked Sites.
        <br>
        <br>
        <b>THIRD PARTY SERVICES </b>
        <br>
        The Services may be made available and/or accessed in connection with
        third party services and content that Jackpot Music Game does not
        control. Jackpot Music Game may post advertisements of third parties
        through the Services, including without limitation promotions of
        advertisers, announcements, and/or sponsors showing their goods and
        services. Your correspondence, participation in, and/or any other
        dealings with third parties found through the Services are solely
        between you and such third party. Jackpot Music Game does not endorse
        such third party services and content and in no event shall Jackpot
        Music Game be liable for any products and/or services of such third
        party providers. You agree that Jackpot Music Game shall not be
        responsible for any loss and/or damage of any sort incurred as a result
        of any such dealings and/or as the result of the presence of such third
        parties through the Services. Moreover, Jackpot Music Game shall not be
        responsible and/or liable for the accuracy, quality, suitability,
        currency and/or content of the statements and/or conduct of any third
        party on the Services.
        <br>
        <br>
        DISPUTE RESOLUTION
        <br>
        <b>Disputes.</b> We want to address your concerns without needing a formal
        legal case. Before filing a claim against Jackpot Music Game, you agree
        to try to resolve the dispute informally by contacting us at
        support@jackpot.game. We will try to resolve the dispute by contacting
        you via email, but if we cannot resolve the dispute within thirty (30)
        days of submission, you and/or Jackpot Music Game agree to resolve any
        claims related to this Terms of Use through final and binding
        arbitration, except as forth under ‘Exceptions to Agreement to
        Arbitrate’ section below and/or you opt out as described below.
        <br>
        <br>
        <b>Opt-Out.</b> You can opt-out and decline this agreement to arbitrate by
        contacting Jackpot Music Game within thirty (30) day from the date that
        you first became subject to this arbitration provision (i.e.: the date
        you initially accepted this Terms of Use). You must write us at Jackpot
        Music Game, Attn: Opt-Out Arbitration, 30 N. Gould Street, Suite R,
        Sheridan, Wyoming 82801. If you opt out, neither you nor Jackpot Music
        Game can require the other to participate in an arbitration proceeding.
        <br>
        <br>
        <b>Arbitration Procedures.</b> Except in the event the claim meets the
        requirements set forth in the ‘Exceptions to Agreement to Arbitrate’
        section below and/or if you opt out of arbitration as described below,
        all claims shall be settled by binding arbitration in accordance with
        the commercial arbitration rules, in effect at the time the proceedings
        begin, of the American Arbitration Association. Any such controversy
        and/or claim shall be arbitrated on an individual basis, and shall not
        be consolidated in any arbitration with any claim or controversy of any
        other party. All information relating to and/or disclosed by any party
        in connection with the arbitration of any disputes shall be treated by
        the parties, their representatives, and the arbitrator as proprietary
        business information and shall not be disclosed without prior written
        authorization of the disclosing party. The arbitration shall be held in
        Sheridan, Wyoming USA or any other location we agree to. Each party
        shall bear the burden of its own counsel fees incurred in connection
        with any arbitration proceedings.
        <br>
        <br>
        <b>Exceptions to Agreement to Arbitrate.</b> Either you and/or Jackpot Music
        Game may assert claims, if it qualifies, in small claims court in
        Sheridan, Wyoming. Either party may bring a lawsuit solely for
        injunctive relief to stop unauthorized use and/or abuse of the
        Services, breach of Jackpot Music Game’s confidential information
        and/or intellectual property infringement (for example, trademark,
        trade secret, copyright and/or patent rights) without first engaging in
        arbitration and/or the informal dispute-resolution process described
        herein.
        <br>
        <br>
        <b>Judicial forum for disputes.</b> In the event that the agreement to
        arbitrate is found not to apply to you and/or your claim, you and
        Jackpot Music Game agree that any judicial proceeding (other than small
        claims actions) will be brought in the federal or state courts of
        Sheridan, Wyoming. Both you and Jackpot Music Game consent to the
        foregoing venue and jurisdiction.
        <br>
        <br>
        <b>MISCELLANEOUS</b> If any provision and/or term of this Terms of Use shall
        become and/or be declared illegal, invalid and/or unenforceable for any
        reason whatsoever, such term and/or provision shall be divisible from
        the other terms and conditions and shall be deemed to be deleted from
        it. This Terms of Use shall be governed in all respects by the laws of
        the State of Wyoming, without reference to its choice of law rules. If
        an applicable law is in conflict with any part of this Terms of Use,
        this Terms of Use will be deemed modified to conform to the law and the
        other provisions will not be affected by any such modification. No
        waiver by either you and/or Jackpot Music Game of any breach and/or
        default and/or failure to exercise any right allowed under this Terms
        of Use is a waiver of any preceding and/or subsequent breach and/or
        default and/or waiver and/or forfeiture of any similar and/or future
        rights under this Terms of Use.
        <br>
        <br>
        <b>Contact us:</b> If you would like to request additional information
        regarding this Terms of Use, please contact us at support@jackpot.game.
        <br>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-start ion-margin-bottom ion-margin-horizontal">
      <ion-col col-12>
        <h3>PRIVACY POLICY</h3>
        <br>
        Last Modified: August 15, 2018
        <br>
        <br>
        This privacy policy (“Privacy Policy”) describes the policies and
        procedures of Progressive Entertainment LLC d/b/a Jackpot Music Game
        and its subsidiaries and affiliates (hereinafter, variously “Jackpot
        Music Game,” “we,” “us,” or “our”), and our website, mobile services,
        applications, content, products, services and any sites Jackpot Music
        Game may have now or in the future (collectively, the “Services”), and
        your choices about the collection and use of your information.
        <br>
        <br>
        <b>By using our Services in any manner, you indicate to Jackpot Music Game
          that you have read and accept our Privacy Policy and consent to the
          data practices described in this Privacy Policy. If you do not accept
          this Privacy Policy or do not meet or comply with the provisions set
          forth herein, then you may not use our Services.</b>
        <br>
        <br>
        <b>INFORMATION WE COLLECT</b>
        <br>
        When you use our Services, you may provide Jackpot Music Game with two
        main types of information: (1) personally identifiable information that
        you knowingly choose to disclose, which is collected on an individual
        basis, and (2) general user information that does not contain
        personally identifiable information, which is collected on an aggregate
        basis as you browse and use our Services. We collect information from
        you when you (a) use and/or access our Services and/or (b) register an
        account, and we collect information from third party service providers,
        (c) open and/or respond to our emails, (d) contact Jackpot Music Game,
        and/or (e) visit any page online that displays our content.
        <br>
        <br>
        <b>Personally Identifiable Information You Choose to Provide</b>
        <br>
        We may ask for certain personal information from you for the purpose of
        providing to you content and/or Services that you request. We collect
        personal information such as your: (i) contact information (including
        name, email and address); (ii) username; (iii) preferences, and
        questions submitted; and (iv) data related to songs played and/or
        information related to games. Once you register, you have opted in to
        receive electronic communications from us. We may also provide you
        with the opportunity to participate in surveys through our Services.
        If you participate, we will request certain personally identifiable
        information. Participation in surveys is completely voluntary and you
        therefore have a choice whether to disclose such information.
        <br>
        <br>
        <b>Non-Personally Identifiable Information We Collect</b>
        <br>
        <br>
        <span class="underline"><b>Daily Log:</b></span> When you use our Services or access information we provide,
        we will automatically collect certain information, saving it to the
        daily logs on our servers. This type of information collection is
        usually triggered by events like crashes, system activities, changes in
        hardware settings, and login requests.
        <br>
        <br>
        <br>
        <span class="underline"><b>Aggregate:</b></span> We may collect non-identifying and statistical information
        about the use of our Services, such as how many visitors visit a
        specific page, how long they stay on that page and which links, if any,
        they click on. This information represents a generic overview of our
        users, including their collective habits. Information collected in the
        aggregate is not associated with you as an individual.
        <br>
        <br>
        <span class="underline"><b>Third Party Services:</b></span> To support the Services we provide to you, we
        may use services hosted by third parties. Such third party services
        may collect information sent by a browser as part of a web page
        request, including Internet Protocol (“IP”) addresses, browser
        software, and/or clickstream patterns. If such third party services
        collect information, they do so anonymously without identifying
        individual visitors. However, we may link the information we record
        using tracking technology to personal information we collect. They may
        collect and store the same type of information and use it similarly to
        Jackpot Music Game, as described above.
        <br>
        <br>
        <b>HOW WE USE THAT INFORMATION</b>
        <br>
        <b>General Use</b>
        <br>
        We use information collected as described in this Privacy Policy to
        provide you with the information and/or content that you have
        requested, and, in some cases, to contact you about our products,
        features and/or Services. We also use the information collected to
        take the following actions:
        <ul>
          <li>
            operate, maintain and improve our Services;
          </li>
          <li>
            answer questions and respond to your requests;
          </li>
          <li>
            perform analytics and conduct research;
          </li>
          <li>
            send you reminders, support and marketing messages;
          </li>
          <li>
            manage our administration of the Services;
          </li>
          <li>
            improve the design and content of our Services; and
          </li>
          <li>
            analyze programs, products and Services we offer.
          </li>
        </ul>
        <br>
        The information collected in the aggregate enables Jackpot Music Game
        to better understand your use of the Services and to enhance your
        enjoyment.
        <br>
        <br>
        <b>Customer Service</b>
        <br>
        Based upon the personally identifiable information you provide us, we
        will communicate with you in response to your inquiries, to provide the
        Services you request and to manage your account. We will communicate
        with you by email or telephone, as you may elect.
        <br>
        <br>
        <b>Payment Information</b>
        <br>
        In the event you pay for our Services, our Service Providers
        responsible for processing payments will collect the billing
        information needed to process your charges. This may include financial
        information including without limitation, your billing or email address.
        <br>
        <br>
        <b>Information Protection</b>
        <br>
        We take the privacy of our users very seriously, and we do not sell,
        rent, and/or otherwise provide your personally identifiable information
        to third parties for marketing purposes. We will not share your
        personally identifiable information in ways unrelated to those
        described in this Privacy Policy without providing you with an
        opportunity to opt out of such use or otherwise prohibit such unrelated
        use.
        <br>
        <br>
        <b>Parties with whom we may share your information: </b>
        <br>
        We may share your personally identifiable information as well as
        information from tools like log files, and device identifiers and
        location data (such as usage data, referring/exit pages and URLs,
        platform types, number of clicks, etc.), with employees, contractors,
        partners, and/or agents that we partner with and/or use to help Jackpot
        Music Game provide the Services to you ("Service Providers"). Our
        Service Providers will be given access to your information as is
        reasonably necessary to provide the Services. Some of your activity
        on and through the Services is public. This may include, but is not
        limited to content you have posted publicly on, through or in
        connection with the Services. Registered users may have some of this
        information associated with their accounts. Unregistered users will not
        have this association, but information concerning their use of the
        Services may be tracked anonymously by us.
        <br>
        <br>
        <b>Email, Text, and Push Notification Communications:</b>
        <br>
        We may communicate with you via push notification, email, SMS, MMS or
        other text message (“Message”) (to the extent you permit us to do so),
        and we may collect information regarding such communications, such as
        confirmation when you open an email, read a Message or receive a push
        notification. We use this information to improve our Services,
        including without limitation our customer service.
        <br>
        <br>
        <b>Disclosures</b>
        <br>
        Jackpot Music Game will not disclose your personal information to
        third parties except as set forth in this Privacy Policy and in the
        following circumstances: (i) to investigate and defend Jackpot Music
        Game members against any third party claims and/or allegations and/or
        otherwise to protect Jackpot Music Game from liability, (ii) to
        investigate, prevent and/or take action regarding suspected and/or
        actual illegal activities, (iii) to assist government enforcement
        agencies, respond to a legal process and/or comply with the law, (iv)
        to exercise or protect the rights, property and/or personal safety of
        the users of the Services and/or (v) to protect the security and/or
        integrity of the Service.
        <br>
        <br>
        <b>What happens in the event of a change of control:</b>
        <br>
        If we sell or otherwise transfer part or all of Jackpot Music Game or
        our assets to another organization (e.g., in the course of a
        transaction such as a merger, acquisition, bankruptcy, dissolution,
        liquidation, etc.), your information such as name and email address,
        user content and/or any other information collected through the
        Services may be among the items sold and/or transferred.
        <br>
        <br>
        <b>YOUR INFORMATION CHOICES</b>
        <br>
        We respect your privacy and give you an opportunity to opt out of
        receiving announcements of certain information. Although we think that
        you benefit from a more personalized experience when we know more about
        you and what you like, you can limit the information you provide to
        Jackpot Music Game, and you can limit the communications that Jackpot
        Music Game sends to you. If you visit our Services and/or volunteer
        personally identifiable information, you can opt out of receiving
        notifications, and you may review, modify, update, and/or delete such
        personally identifiable information by contacting and/or by changing
        your preferences on the Service. Please be aware that even after your
        request for a change is processed, Jackpot Music Game may, for a time,
        retain residual information about you in its backup and/or archival
        copies of its database. Please be aware that we may still email you
        non-commercial emails related to your account and your transactions
        through our Services. Following termination and/or deactivation of
        your account, Jackpot Music Game may retain information (including
        without limitation your profile information) for a commercially
        reasonable time for backup, archival, and/or audit purposes. In some
        cases, if you choose not to provide Jackpot Music Game with requested
        information, you may not be able to use and/or access all of our
        Services.
        <br>
        <br>
        <b>Your California Privacy Rights</b>
        <br>
        Under California Civil Code Sections 1798.83-1798.84, California
        residents are entitled to receive: (a) information identifying any
        third party companies to whom Jackpot Music Game may have disclosed
        personal information to for direct marketing, within the past year; and
        (b) a description of the categories of personal information disclosed.
        To obtain such information, please email your request to
        support@jackpot.game and we will provide a list of categories of
        personal information disclosed within thirty (30) days of receiving
        such a request. This request may be made no more than once per
        calendar year. We reserve the right not to respond to requests
        submitted in ways other than those specified above.
        <br>
        <br>
        <b>SERVICE ELIGIBILITY AND CHANGES</b>
        <br>
        <span class="underline">Children and Minors.</span> Jackpot Music Game does not knowingly collect
        personally identifiable information from children under the age of
        thirteen (13). If we learn that we have collected personal information
        from a child under age thirteen (13), we will delete such information
        as quickly as possible. If you believe that a child under the age of
        thirteen (13) may have provided us personal information, please contact
        us at support@jackpot.game. By using the Services, you represent that
        you are at least eighteen (18) years old and understand that you must
        be at least eighteen (18) years old in order to create an account
        and/or use the Services.
        <br>
        <br>
        <span class="underline">Changes to Privacy Policy.</span> We may update this Privacy Policy at any
        time, with or without advance notice, so please review it periodically.
        We may provide you additional forms of notice of modifications and/or
        updates as appropriate under the circumstances. Your continued use of
        the Services after any modification to this Privacy Policy will
        constitute your acceptance of such modifications and/or updates. You
        can determine when this Privacy Policy was last revised by referring
        to the date it was “Last Modified” above.
        <br>
        <br>
        <b>SECURITY</b>
        <br>
        We work hard to secure your personal information from unauthorized
        access to and/or unauthorized alteration, disclosure and/or destruction
        of information we hold. Your account is protected by password for your
        privacy and security. We periodically review our information
        collection, storage and/or processing practices, including physical
        security measures, to guard against unauthorized access to systems.
        Because the internet is not a completely secure environment, Jackpot
        Music Game cannot warrant the security of any information you transmit
        to Jackpot Music Game or guarantee that information on the Services may
        not be accessed, disclosed, altered, and/or destroyed by breach of any
        of our physical, technical and/or managerial safeguards. Please do
        your part to help Jackpot Music Game. You are responsible for
        maintaining the secrecy of your unique password and account
        information, and for controlling access to emails between you and
        Jackpot Music Game, at all times. Please limit your access to your
        computer and/or mobile device and/or browser by signing off after you
        have finished accessing your account. We are not responsible for the
        functionality, privacy and/or security measures of any other
        organization.
        <br>
        <br>
        <b>DATA TRANSFERS</b>
        <br>
        Please be aware that our Services are subject to United States laws,
        including those governing privacy and security of your information. We
        may host and process data including your personal information outside
        of the country in which you are located, including without limitation
        in the United States. By using our Services, you agree and consent
        (and represent that you have the authority to provide such consent) to
        the information collection, use and sharing practices described in this
        Privacy Policy and understand that the laws of the United States
        related to the foregoing may differ from those of other countries and
        may not be as protective as the laws in the country where you reside.
        <br>
        <br>
        <b>OTHER WEB SITES AND SERVICES</b>
        <br>
        We are not responsible for the practices employed by any websites
        and/or services linked to and/or from our Services, including the
        information and/or content contained therein. Please remember that when
        you use a link to go from our Services to another website and/or
        service, our Privacy Policy does not apply to such third-party websites
        and/or services. Your browsing and interaction on any third-party
        website and/or service, including those that have a link on our
        Service, are subject to such third party's own rules and/or policies.
        In addition, you agree that we are not responsible and do not have
        control over any third-parties that you authorize to access your
        personal information. If you are using a third-party website and/or
        service and you allow them to access your personal information, you do
        so at your own risk.
        <br>
        <br>
        <b>HOW TO CONTACT US</b>
        <br>
        If you have questions and/or comments about this Privacy Policy, please
        email us at support@jackpot.game.
        <br>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
